<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <form action="/admin/edit-place/{{place._id}}" method="POST" role="form" enctype="multipart/form-data">
                    <legend class="text-center" style="font-weight: 700;">Edit Place</legend>

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name" value="{{place.name}}" placeholder="Place Name" required>
                    </div>

                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" name="price" id="price" value="{{place.price}}" placeholder="Price" required>
                    </div>

                    <label for="district">Choose a District:</label>
                    <select name="district" id="district" required>
                        <option value="Alappuzha" {{#if (eq place.district "Alappuzha")}}selected{{/if}}>Alappuzha</option>
                        <option value="Ernakulam" {{#if (eq place.district "Ernakulam")}}selected{{/if}}>Ernakulam</option>
                        <option value="Idukki" {{#if (eq place.district "Idukki")}}selected{{/if}}>Idukki</option>
                        <option value="Kannur" {{#if (eq place.district "Kannur")}}selected{{/if}}>Kannur</option>
                        <option value="Kasaragod" {{#if (eq place.district "Kasaragod")}}selected{{/if}}>Kasaragod</option>
                        <option value="Kollam" {{#if (eq place.district "Kollam")}}selected{{/if}}>Kollam</option>
                        <option value="Kottayam" {{#if (eq place.district "Kottayam")}}selected{{/if}}>Kottayam</option>
                        <option value="Kozhikode" {{#if (eq place.district "Kozhikode")}}selected{{/if}}>Kozhikode</option>
                        <option value="Malappuram" {{#if (eq place.district "Malappuram")}}selected{{/if}}>Malappuram</option>
                        <option value="Palakkad" {{#if (eq place.district "Palakkad")}}selected{{/if}}>Palakkad</option>
                        <option value="Pathanamthitta" {{#if (eq place.district "Pathanamthitta")}}selected{{/if}}>Pathanamthitta</option>
                        <option value="Thiruvananthapuram" {{#if (eq place.district "Thiruvananthapuram")}}selected{{/if}}>Thiruvananthapuram</option>
                        <option value="Thrissur" {{#if (eq place.district "Thrissur")}}selected{{/if}}>Thrissur</option>
                        <option value="Wayanad" {{#if (eq place.district "Wayanad")}}selected{{/if}}>Wayanad</option>
                    </select>

                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" class="form-control" name="location" id="location" value="{{place.location}}" placeholder="Location" required>
                    </div>

                    <div class="form-group">
                        <label for="lat">Latitude</label>
                        <input type="text" class="form-control" name="lat" id="lat" value="{{place.lat}}" placeholder="Latitude" required>
                    </div>

                    <div class="form-group">
                        <label for="lon">Longitude</label>
                        <input type="text" class="form-control" name="lon" id="lon" value="{{place.lon}}" placeholder="Longitude" required>
                    </div>

                    <div class="form-group">
                        <label for="tslots">Total Slots</label>
                        <input type="text" class="form-control" name="tslots" id="tslots" value="{{place.tslots}}" placeholder="Total Slots" required>
                    </div>

                    <div class="form-group">
                        <label for="availableButton">Available</label>
                        <input type="checkbox" name="availableButton" id="availableButton" value="on" {{#if place.availability}}checked{{/if}}>
                    </div>

                    <div class="form-group">
                        <label for="aslots">Available Slots</label>
                        <input type="text" class="form-control" name="aslots" id="aslots" value="{{place.aslots}}" placeholder="Available Slots" required>
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" name="description" id="description" value="{{place.description}}" placeholder="Description">
                    </div>

                    <div class="form-group">
                        <label for="image">Image Upload/URL</label>
                        <input type="text" class="form-control" name="image" id="image" placeholder="Image JPG URL">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>